build/*
!.build/jconfig.h
autom4te.cache/
*~
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.build/jconfig.h
coutput/*
doutput/*
example.bmp
rates.txt
warnings.txt
# jpeg_out/*
bmp2.bmp
bmp3.bmp
5.1.12magic.bmp